<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>chat.lumiverse.tray</string>
    <key>CFBundleDisplayName</key>
    <string>Lumiverse Desktop</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Lumiverse uses the microphone when you dictate a chat message.</string>
</dict>
</plist>
